@use "../../../utils/constants" as constants;

.miscellany-container {
  p {
    letter-spacing: 0;
  }
}

.information {
  p:first-child {
    margin: 5.6rem 0 0 0;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 5.7rem;
    color: constants.$primary-color;
  }

  p:nth-child(2) {
    margin: 2.5rem 0.5rem 13.6rem 0.5rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

.links {
  #links-p {
    margin: 0;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: constants.$primary-color;
  }

  .links-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.8rem;
    margin: 4.5rem 0 10.8rem 0;

    a {
      margin: 0;
      text-align: center;
    }
    .first-list,
    .second-list {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
    }
  }
}

.newsletter {
  display: flex;
  flex-direction: column;

  #newsletter-title {
    margin: 0;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: constants.$primary-color;
  }

  #newsletter-p {
    align-self: center;
    width: 28rem;
    margin: 5.4rem 0 1.9rem 0;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .email-input {
    align-self: center;
    width: 28rem;
    height: 3.8rem;
    border: 0.1px solid constants.$font-primary-color;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem 0 1.4rem;

    input {
      border: none;
      background: none;
      outline: none;
    }

    button {
      width: 9.3rem;
      height: 3rem;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.8rem;
      letter-spacing: 0;
      color: constants.$wildcard-color;
      background-color: constants.$primary-color;
      border-radius: 0.5rem;
    }
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  margin: 3.6rem 0 9rem 0;
  img {
    cursor: pointer;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.7rem;
  width: 28rem;
  margin: 0 auto 13.4rem auto;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    p {
      margin: 0;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      letter-spacing: 0;
    }
  }
}

@media (min-width: 375px) {
  .contact {
    width: 33.6rem;
    div {
      gap: 4rem;
    }
  }

  .newsletter {
    #newsletter-p {
      width: 33.7rem;
    }

    .email-input {
      width: 31rem;
    }
  }
}

@media (min-width: 768px) {
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;

    p:nth-child(2) {
      width: 52rem;
    }
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .miscellany-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0rem 1rem;
    margin-top: 7.8rem;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: start;

    p:first-child {
      width: 100%;
      margin: 0 0 2.3rem 0;
    }

    p:nth-child(2) {
      margin: 0 0 5.7rem 0;
      width: 34.6rem;
    }

    p:first-child,
    p:nth-child(2) {
      text-align: start;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1.7rem;
      width: 32rem;
      margin: 0;

      div {
        gap: 3rem;
        p {
          margin: 0;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          letter-spacing: 0;
        }
      }

      #phone p,
      #email p {
        width: fit-content;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;

    #links-p {
      text-align: start;
    }

    .links-list {
      width: 15rem;
      height: auto;
      gap: 2rem;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.7rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4.5rem 0 0 0;

      a {
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0;
      }

      .first-list {
        gap: 7.3rem;
      }

      .second-list {
        gap: 5rem;
      }

      .first-list,
      .second-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .newsletter {
    #newsletter-title {
      width: 100%;
    }

    #newsletter-title,
    #newsletter-p {
      text-align: start;
    }

    .social-media {
      justify-content: start;
    }
  }
}

// Desktop L
@media (min-width: 1440px) {
  .miscellany-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0rem 2rem;
    margin-top: 7.8rem;
    // width: 142rem;
    // width: 95%;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: start;

    p:first-child {
      width: 100%;
      margin: 0 0 2.3rem 0;
    }

    p:nth-child(2) {
      margin: 0 0 5.7rem 0;
      width: 34.6rem;
    }

    p:first-child,
    p:nth-child(2) {
      text-align: start;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1.7rem;
      width: 32rem;
      margin: 0;

      div {
        gap: 3rem;
        p {
          margin: 0;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          letter-spacing: 0;
        }
      }

      #phone p,
      #email p {
        width: fit-content;
      }
    }
  }

  .links {
    #links-p {
      text-align: start;
    }

    .links-list {
      width: 42rem;
      height: auto;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 4.5rem 0 0 0;

      a {
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0;
      }

      .first-list {
        gap: 7.3rem;
      }

      .second-list {
        gap: 5rem;
      }

      .first-list,
      .second-list {
        display: flex;
        align-items: start;
        flex-direction: row;
      }
    }
  }

  .newsletter {
    #newsletter-title {
      width: 100%;
    }

    #newsletter-title,
    #newsletter-p {
      text-align: start;
    }

    .social-media {
      justify-content: start;
    }
  }
}

// Desktop max 4k
@media (min-width: 1441px) {
  .miscellany-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0rem 0rem;
    margin-top: 7.8rem;
    width: 90%;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: start;

    p:first-child {
      width: 100%;
      margin: 0 0 2.3rem 0;
    }

    p:nth-child(2) {
      margin: 0 0 5.7rem 0;
      width: 34.6rem;
    }

    p:first-child,
    p:nth-child(2) {
      text-align: start;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1.7rem;
      width: 32rem;
      margin: 0;

      div {
        gap: 3rem;
        p {
          margin: 0;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          letter-spacing: 0;
        }
      }

      #phone p,
      #email p {
        width: fit-content;
      }
    }
  }

  .links {
    #links-p {
      text-align: start;
    }

    .links-list {
      width: 42rem;
      height: auto;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 4.5rem 0 0 0;

      a {
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0;
      }

      .first-list {
        gap: 7.3rem;
      }

      .second-list {
        gap: 5rem;
      }

      .first-list,
      .second-list {
        display: flex;
        align-items: start;
        flex-direction: row;
      }
    }
  }

  .newsletter {
    #newsletter-title {
      width: 100%;
    }

    #newsletter-title,
    #newsletter-p {
      text-align: start;
    }

    .social-media {
      justify-content: start;
    }
  }
}
