@use "../../../utils/constants" as constants;

.information {
  p:first-child {
    @include constants.title-styles(600, 3.8rem, 5.7rem);
    margin: 5.6rem 0 0 0;
    color: constants.$primary-color;
  }

  p:nth-child(2) {
    margin: 2.5rem 0.5rem 13.6rem 0.5rem;
    @include constants.title-styles(300, 1.8rem, 2.7rem);
  }
}

.links {
  #links-p {
    @include constants.title-styles(600, 2.4rem, 3.6rem);
    margin: 0;
    color: constants.$primary-color;
  }

  .links-list {
    @include constants.container-styles(flex, column, unset, unset);
    flex-wrap: wrap;
    align-items: center;
    gap: 1.8rem;
    margin: 4.5rem 0 10.8rem 0;

    a {
      margin: 0;
      text-align: center;
    }
    .first-list,
    .second-list {
      @include constants.container-styles(flex, column, unset, unset);
      gap: 1.8rem;
    }
  }
}

.newsletter {
  @include constants.container-styles(flex, column, unset, unset);

  #newsletter-title {
    @include constants.title-styles(600, 2.4rem, 3.6rem);
    margin: 0;
    color: constants.$primary-color;
  }

  #newsletter-p {
    @include constants.title-styles(300, 1.2rem, 1.8rem);
    align-self: center;
    width: 28rem;
    margin: 5.4rem 0 1.9rem 0;
  }

  .email-input {
    align-self: center;
    width: 28rem;
    height: 3.8rem;
    border: 0.1px solid constants.$font-primary-color;
    border-radius: 1rem;
    @include constants.container-styles(
      flex,
      unset,
      space-between,
      0 0.4rem 0 1.4rem
    );
    align-items: center;

    input {
      border: none;
      background: none;
      outline: none;
    }

    button {
      @include constants.title-styles(500, 1.2rem, 1.8rem);
      width: 9.3rem;
      height: 3rem;
      color: constants.$wildcard-color;
      background-color: constants.$primary-color;
      border-radius: 0.5rem;
      &:hover {
        background-color: constants.$secondary-color;
      }
    }
  }
}

.social-media {
  @include constants.container-styles(flex, row, center, unset);
  gap: 6rem;
  margin: 3.6rem 0 9rem 0;
  img {
    cursor: pointer;
  }
}

.contact {
  @include constants.container-styles(flex, column, center, unset);
  align-items: start;
  gap: 1.7rem;
  width: 28rem;
  margin: 0 auto 13.4rem auto;

  div {
    @include constants.container-styles(flex, row, unset, unset);
    align-items: center;
    gap: 1rem;

    p {
      @include constants.title-styles(400, 1.8rem, 2.7rem);
      margin: 0;
    }
  }
}

@media (min-width: 375px) {
  .contact {
    width: 33.6rem;
    div {
      gap: 4rem;
    }
  }

  .newsletter {
    #newsletter-p {
      width: 33.7rem;
    }

    .email-input {
      width: 31rem;
    }
  }
}

@media (min-width: 768px) {
  .information {
    @include constants.container-styles(flex, column, unset, unset);
    align-items: center;

    p:nth-child(2) {
      width: 52rem;
    }
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .miscellany-container {
    @include constants.container-styles(flex, row, space-around, 0rem 1rem);
    margin-top: 7.8rem;
  }

  .information {
    @include constants.container-styles(flex, column, unset, unset);
    align-items: start;

    p:first-child {
      width: 100%;
      margin: 0 0 2.3rem 0;
    }

    p:nth-child(2) {
      margin: 0 0 5.7rem 0;
      width: 34.6rem;
    }

    p:first-child,
    p:nth-child(2) {
      text-align: start;
    }

    .contact {
      @include constants.container-styles(flex, column, center, unset);
      align-items: start;
      gap: 1.7rem;
      width: 32rem;
      margin: 0;

      div {
        gap: 3rem;
        p {
          @include constants.title-styles(400, 1.8rem, 2.7rem);
          margin: 0;
        }
      }

      #phone p,
      #email p {
        width: fit-content;
      }
    }
  }

  .links {
    @include constants.container-styles(flex, column, unset, unset);

    #links-p {
      text-align: start;
    }

    .links-list {
      width: 15rem;
      height: auto;
      gap: 2rem;
      @include constants.title-styles(300, 1.8rem, 2.7rem);
      @include constants.container-styles(flex, column, unset, unset);
      align-items: center;
      margin: 4.5rem 0 0 0;

      a {
        @include constants.title-styles(300, 1.8rem, 2.7rem);
        margin: 0;
        text-align: center;
      }

      .first-list {
        gap: 7.3rem;
      }

      .second-list {
        gap: 5rem;
      }

      .first-list,
      .second-list {
        @include constants.container-styles(flex, column, unset, unset);
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .newsletter {
    #newsletter-title {
      width: 100%;
    }

    #newsletter-title,
    #newsletter-p {
      text-align: start;
    }

    .social-media {
      justify-content: start;
    }
  }
}

// Desktop L
@media (min-width: 1440px) {
  .miscellany-container {
    @include constants.container-styles(flex, row, space-around, 0rem 2rem);
    margin-top: 7.8rem;
  }

  .information {
    @include constants.container-styles(flex, column, unset, unset);
    align-items: start;

    p:first-child {
      width: 100%;
      margin: 0 0 2.3rem 0;
    }

    p:nth-child(2) {
      margin: 0 0 5.7rem 0;
      width: 34.6rem;
    }

    p:first-child,
    p:nth-child(2) {
      text-align: start;
    }

    .contact {
      @include constants.container-styles(flex, column, center, unset);
      align-items: start;
      gap: 1.7rem;
      width: 32rem;
      margin: 0;

      div {
        gap: 3rem;
        p {
          @include constants.title-styles(400, 1.8rem, 2.7rem);
          margin: 0;
        }
      }

      #phone p,
      #email p {
        width: fit-content;
      }
    }
  }

  .links {
    #links-p {
      text-align: start;
    }

    .links-list {
      @include constants.title-styles(300, 1.8rem, 2.7rem);
      width: 42rem;
      height: auto;
      @include constants.container-styles(flex, row, unset, unset);
      align-items: center;
      margin: 4.5rem 0 0 0;

      a {
        @include constants.title-styles(300, 1.8rem, 2.7rem);
        margin: 0;
        text-align: center;
      }

      .first-list {
        gap: 7.3rem;
      }

      .second-list {
        gap: 5rem;
      }

      .first-list,
      .second-list {
        @include constants.container-styles(flex, row, unset, unset);
        align-items: start;
      }
    }
  }

  .newsletter {
    #newsletter-title {
      width: 100%;
    }

    #newsletter-title,
    #newsletter-p {
      text-align: start;
    }

    .social-media {
      justify-content: start;
    }
  }
}

// Desktop max 4k
@media (min-width: 1441px) {
  .miscellany-container {
    @include constants.container-styles(flex, row, space-evenly, 0);
    margin-top: 7.8rem;
    width: 100%;
  }

  .information {
    @include constants.container-styles(flex, column, unset, unset);
    align-items: start;

    p:first-child {
      width: 100%;
      margin: 0 0 2.3rem 0;
    }

    p:nth-child(2) {
      margin: 0 0 5.7rem 0;
      width: 34.6rem;
    }

    p:first-child,
    p:nth-child(2) {
      text-align: start;
    }

    .contact {
      @include constants.container-styles(flex, column, center, unset);
      align-items: start;
      gap: 1.7rem;
      width: 32rem;
      margin: 0;

      div {
        gap: 3rem;
        p {
          @include constants.title-styles(400, 1.8rem, 2.7rem);
          margin: 0;
        }
      }

      #phone p,
      #email p {
        width: fit-content;
      }
    }
  }

  .links {
    #links-p {
      text-align: start;
    }

    .links-list {
      @include constants.title-styles(300, 1.8rem, 2.7rem);
      width: 42rem;
      height: auto;
      @include constants.container-styles(flex, row, unset, unset);
      align-items: center;
      margin: 4.5rem 0 0 0;

      a {
        @include constants.title-styles(300, 1.8rem, 2.7rem);
        margin: 0;
        text-align: center;
      }

      .first-list {
        gap: 7.3rem;
      }

      .second-list {
        gap: 5rem;
      }

      .first-list,
      .second-list {
        @include constants.container-styles(flex, row, unset, unset);
        align-items: start;
      }
    }
  }

  .newsletter {
    #newsletter-title {
      width: 100%;
    }

    #newsletter-title,
    #newsletter-p {
      text-align: start;
    }

    .social-media {
      justify-content: start;
    }
  }
}
