@use "../../utils/constants" as constant;

.card {
  display: flex;
  flex-direction: column;
  background-color: constant.$card-bg-color;
  border: 0.2rem solid constant.$border-color;
  border-radius: 1rem;
  padding: 3.6rem 3.2rem;
  transition: box-shadow 0.3s ease-in-out;

  p {
    letter-spacing: 0;
    text-align: left;
  }

  p:nth-child(2) {
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 3.3rem;
    color: constant.$primary-color;
  }

  p:nth-child(3) {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  &:hover {
    border: 0.2rem solid constant.$card-bg-color;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
      -5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .card {
    max-width: 36.2rem;
  }
}

// Desktop L
@media (min-width: 1440px) {
  .card {
    max-width: 40rem;
  }
}
