@use "../../utils/constants" as constant;

.card {
  @include constant.container-styles(flex, column, unset, 3.6rem 3.2rem);
  background-color: constant.$card-bg-color;
  border: 0.2rem solid constant.$border-color;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease-in-out;

  p {
    text-align: left;
  }

  p:nth-child(2) {
    @include constant.title-styles(600, 2.1rem, 3.3rem);
    color: constant.$primary-color;
  }

  p:nth-child(3) {
    @include constant.title-styles(300, 1.8rem, 2.7rem);
  }

  &:hover {
    border: 0.2rem solid constant.$card-bg-color;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
      -5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .card {
    max-width: 36.2rem;
  }
}

// Desktop L
@media (min-width: 1440px) {
  .card {
    max-width: 40rem;
  }
}
