@use "../../../utils/constants" as constants;

.list {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.title {
  @include constants.title-styles(600, 2.8rem, 4.2rem);
  text-align: left;

  #title-span {
    color: constants.$primary-color;
  }
}

.paragraph-container {
  display: flex;
  justify-content: end;
  p {
    width: 33.3rem;
    @include constants.title-styles(300, 1.6rem, 2.4rem);
    text-align: left;
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .list {
    width: 45rem;
  }
  .paragraph-container {
    p {
      width: 35rem;
    }
  }
}

// Desktop L
@media (min-width: 1440px) {
  .paragraph-container {
    p {
      width: 45rem;
    }
  }
}
