@use "../../utils/constants" as constants;

.mobile-paragraphs {
  p:first-child {
    @include constants.title-styles(600, 2.8rem, 4.2rem);
    margin: 5.2rem 0 0 0;
  }

  p:nth-child(2) {
    @include constants.title-styles(300, 1.8rem, 2.7rem);
    margin: 0;
  }
}

#instructions-img {
  width: 100%;
  height: 51.4rem;
  border-radius: 2rem;
  object-position: center;
  object-fit: cover;
  margin: 2.4rem 0 3.9rem 0;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.desktop-paragraphs {
  p:first-child {
    @include constants.title-styles(600, 3.8rem, 5.7rem);
    margin: 0;
  }

  p:nth-child(2) {
    @include constants.title-styles(300, 1.8rem, 2.7rem);
    margin: 0;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1023.9px) {
  #instructions-img {
    width: 54.6rem;
  }

  .instructions {
    width: 54.6rem;
  }
  .instructions-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  #instructions-img {
    align-self: center;
    width: 50%;
    height: 78.8rem;
    margin: 0;
  }

  .instructions {
    flex-wrap: wrap;
    align-content: end;
  }

  .instructions-section {
    @include constants.container-styles(
      flex,
      row,
      space-around,
      8.3rem 1rem 0 1rem
    );
  }

  .desktop-paragraphs {
    width: 45rem;
    text-align: left;
  }
}

// Desktop L
@media (min-width: 1440px) {
  #instructions-img {
    width: 60rem;
    height: 78.8rem;
    margin: 0;
  }
  .instructions {
    width: 61.7rem;
  }
  .instructions-section {
    @include constants.container-styles(
      flex,
      row,
      space-around,
      8.3rem 1rem 0 1rem
    );
  }

  .desktop-paragraphs {
    text-align: left;
  }
}
