@use "../../utils/constants" as constants;

.mobile-paragraphs {
  p {
    letter-spacing: 0;
  }

  p:first-child {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin: 5.2rem 0 0 0;
  }

  p:nth-child(2) {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: 0;
  }
}

#instructions-img {
  width: 100%;
  height: 51.4rem;
  height: 42rem;
  border-radius: 2rem;
  object-position: center;
  object-fit: cover;
  margin: 2.4rem 0 3.9rem 0;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

// .desktop-paragraphs {
//   p {
//     letter-spacing: 0;
//   }

//   p:first-child {
//     font-weight: 600;
//     font-size: 3.8rem;
//     line-height: 5.7rem;
//     margin: 0;
//   }

//   p:nth-child(2) {
//     font-weight: 300;
//     font-size: 1.8rem;
//     line-height: 2.7rem;
//     margin: 0;
//   }
// }

// // tablets
// @media (min-width: 1024px) {
//   #instructions-img {
//     width: 47.88rem;
//   }
// }

// @media (min-width: 1024px) {
//   #instructions-img {
//     width: 60rem;
//     border-radius: 2rem;
//     height: 78.8rem;
//     object-position: center;
//     object-fit: cover;
//     margin: 0;
//   }
//   .instructions-sections {
//     display: flex;
//     justify-content: row;
//   }
// }
