@use "../../utils/constants" as constants;
.texts {
  margin: 3.7rem 0 3.5rem 0;

  p {
    margin: 0;
  }

  p:first-child,
  p:nth-child(2) {
    @include constants.title-styles(600, 2.8rem, 4.2rem);
  }

  p:nth-child(3) {
    @include constants.title-styles(300, 1.8rem, 2.7rem);
  }
}

.layout-cards {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .texts {
    @include constants.container-styles(flex, column, unset, unset);
    align-items: center;

    p:nth-child(3) {
      width: 54.6rem;
    }
  }
  .layout-cards {
    @include constants.container-styles(flex, column, unset, unset);
    justify-self: center;
    width: 54.6rem;
  }
}

// Desktop
@media (min-width: 1024px) {
  .benefits-section {
    @include constants.container-styles(flex, column, unset, unset);
    flex-wrap: wrap;
    align-content: center;
  }

  .texts {
    @include constants.container-styles(flex, column, unset, unset);
    flex-wrap: wrap;
    align-content: start;

    p {
      text-align: left;
    }

    p:first-child,
    p:nth-child(2) {
      font-size: 3.8rem;
      line-height: 5.7rem;
    }
  }

  .layout-cards {
    @include constants.container-styles(grid, unset, space-evenly, unset);
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    align-content: center;
    gap: 2.8rem;
    width: 95%;
    .full-width {
      grid-column: span 3;
    }
  }
}
