.texts {
  margin: 3.7rem 0 3.5rem 0;

  p {
    letter-spacing: 0;
    margin: 0;
  }

  p:first-child,
  p:nth-child(2) {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.2rem;
  }

  p:nth-child(3) {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

.layout-cards {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;

    p:nth-child(3) {
      width: 54.6rem;
    }
  }
  .layout-cards {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 54.6rem;
  }
}

// Desktop
@media (min-width: 1024px) {
  .benefits-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;

    p {
      text-align: left;
    }

    p:first-child,
    p:nth-child(2) {
      font-size: 3.8rem;
      line-height: 5.7rem;
    }
  }

  .layout-cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-evenly;
    align-content: center;
    gap: 2.8rem;
    width: 95%;
    .full-width {
      grid-column: span 3;
    }
  }
}
