@use "../../utils/constants" as constants;

.customized-header {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 6rem;

  .menu-btn {
    border-color: transparent;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 0;
    height: auto;
    width: 4rem;
  }

  .menu-n-title {
    width: auto;
    #name-product {
      margin-left: 3rem;
      font-size: 1.3rem;
    }
  }

  .nav-closed {
    display: none;
  }

  .nav-open {
    display: block;
    position: absolute;
    top: 10rem;
    left: 0;
    width: auto;
    padding: 0 0 0 0;
  }

  nav {
    all: unset;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0;
    }

    a {
      display: block;
      text-align: left;
      text-decoration: none;
      font-size: 1.6rem;

      &:hover {
        color: constants.$primary-color;
      }
    }
  }

  p {
    align-content: center;
    margin: 0;
  }

  button {
    width: 8.5rem;
    height: auto;
    min-height: 2.9rem;
    @include constants.title-styles(600, 1rem, 1.5rem);
    align-self: center;
  }

  .nav-btns {
    display: flex;
    gap: 2.5rem;
    .login-btn {
      padding-right: 0.5rem;
    }
    .primary-btn {
      width: 7rem;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}

// Desktop
@media (min-width: 1024px) {
  .customized-header {
    .menu-n-title {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 60vw;

      #name-product {
        font-size: 2.8rem;
        margin-left: 0rem;
      }
    }

    .nav-open {
      display: flex;
      position: unset;
      width: auto;
      padding: 0;

      ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        li {
          align-content: center;
        }
      }
    }

    .login-btn {
      font-family: "Poppins";
      background: transparent;
      @include constants.title-styles(600, 1.6rem, 2.4rem);
      color: constants.$font-primary-color;
      border-radius: 0;
      width: auto;
      height: auto;
      padding: 0.4rem 0.5rem;
      border-bottom: none;
      div {
        height: 0.2rem;
        margin-top: 0.55rem;
        width: 5.6rem;
        background-color: constants.$font-primary-color;
        border: none;
      }
      &:hover {
        color: constants.$primary-color;
        div {
          background-color: constants.$primary-color;
        }
      }
    }

    .nav-btns {
      .primary-btn {
        width: 15rem;
        font-size: 1.6rem;
        padding: 1.8rem;
      }
    }
  }
}
