@use "../../utils/constants" as constants;

.customized-footer {
  .second-part .legal-info {
    display: flex;
    justify-content: center;
    gap: 2.6rem;
    flex-direction: row;
    margin: 0 0 2.8rem 0;

    a:nth-child(3) {
      margin: 0 1rem 0 0;
    }
  }

  a {
    display: block;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    @include constants.title-styles(500, 1.6rem, 2.4rem);

    &:hover {
      color: constants.$primary-color;
    }
  }

  .divisor-line {
    height: 0.1rem;
    background-color: constants.$font-primary-color;
    border: none;
  }

  p {
    margin: 3rem 0 6rem 0;
    @include constants.title-styles(500, 2rem, 3rem);
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .customized-footer {
    @include constants.container-without-padding(flex, column, space-around);

    .second-part {
      @include constants.second-part(
        flex,
        row-reverse,
        space-around,
        center,
        0.1rem solid constants.$font-primary-color,
        4.7rem 4% 11.1rem 4%
      );

      .legal-info,
      #rights {
        width: 50%;
      }
      .legal-info {
        @include constants.legal-info(flex, row, flex-end, 3.8rem, center);
      }
      #rights {
        text-align: left;
      }
    }

    a {
      font-size: 2rem;
      line-height: 3rem;
    }

    .divisor-line {
      display: none;
    }
  }
}

// Desktop L
@media (min-width: 1440px) {
  .customized-footer {
    @include constants.container-without-padding(flex, column, space-around);

    .second-part {
      @include constants.second-part(
        flex,
        row-reverse,
        space-around,
        center,
        0.1rem solid constants.$font-primary-color,
        4.7rem 5% 11.1rem 5%
      );

      .legal-info,
      #rights {
        width: 50%;
      }
      .legal-info {
        @include constants.legal-info(flex, row, flex-end, 3.8rem, center);
      }
      #rights {
        text-align: left;
      }
    }

    a {
      font-size: 2rem;
      line-height: 3rem;
    }

    .divisor-line {
      display: none;
    }

    p {
      margin: 0;
      text-align: center;
      align-self: center;
    }
  }
}
