@use "../../utils/constants" as constants;

.titles p {
  @include constants.title-styles(600, 3.7rem, 5.55rem);
  text-align: center;
  margin: 0;
}

.titles p:nth-child(3) {
  color: constants.$primary-color;
}

#mobile-img {
  width: 100%;
  height: 42rem;
  border-radius: 2rem;
  object-position: center;
  object-fit: cover;
  margin: 2rem 0;
}

.paragraph {
  @include constants.title-styles(300, 1.8rem, 2.7rem);
  margin: 0;
  width: fit-content;
}

.product-btn {
  @include constants.title-styles(600, 2.4rem, 3.6rem);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  margin: 3rem;

  button {
    width: 25rem;
    padding: 2rem 0;
    font-size: 2.4rem;
  }

  button:first-child {
    @include constants.button-styles(
      constants.$primary-color,
      constants.$wildcard-color
    );

    &:hover {
      background-color: constants.$secondary-color;
    }
  }

  button:nth-child(2) {
    @include constants.button-styles(
      constants.$wildcard-color,
      constants.$font-primary-color
    );
    border: 0.2rem solid constants.$font-primary-color;

    &:hover {
      color: constants.$primary-color;
      border: 0.2rem solid constants.$primary-color;
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  #mobile-img {
    width: 75%;
  }

  #content-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph {
    width: 75%;
  }

  .product-btn {
    flex-direction: row;
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1440px) {
  .product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0 0 0;

    div {
      align-content: center;
    }

    .titles p {
      @include constants.title-styles(600, 4.5rem, 7.3rem);
      text-align: left;
      margin: 0;
    }

    .titles p:nth-child(3) {
      color: constants.$primary-color;
    }

    .paragraph {
      @include constants.p-styles(left, 50rem);
    }

    .product-btn {
      flex-direction: row;
      align-items: start;
      margin: 3rem 0;

      button {
        width: auto;
        padding: 2rem;
      }
    }

    #desktop-img {
      margin: 0;
      width: 40%;
      height: 48.9rem;
      object-fit: cover;
    }
  }
}

// Desktop L
@media (min-width: 1440px) {
  .product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem 0 1rem;

    div {
      align-content: center;
    }

    .titles p {
      @include constants.title-styles(600, 5.3rem, 7.3rem);
      text-align: left;
      margin: 0;
    }

    .titles p:nth-child(3) {
      color: constants.$primary-color;
    }

    .paragraph {
      @include constants.p-styles(left, 59rem);
    }

    .product-btn {
      flex-direction: row;
      align-items: start;
      margin: 3rem 0;

      button {
        width: auto;
        padding: 2.4rem 2.7rem;
        height: auto;
      }
    }

    #desktop-img {
      margin: 0;
    }

    #desktop-img {
      order: 2;
      width: 60rem;
      height: 48.9rem;
      object-fit: cover;
    }
  }
}
