@use "../../styles/constants" as constants;

.titles p {
  font-weight: 600;
  font-size: 3.7rem;
  line-height: 5.55rem;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.titles p:nth-child(3) {
  color: constants.$primary-color;
}

#mobile-img {
  width: 100%;
  border-radius: 2rem;
  height: 42rem;
  object-position: center;
  object-fit: cover;
  margin: 2rem 0;
}

.paragraph {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0;
  margin: 0;
  width: fit-content;
}

.product-btn {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  gap: 2.5rem;
  align-items: center;
  margin: 3rem;

  button {
    width: 25rem;
    padding: 2rem 0;
    font-size: 2.4rem;
  }

  button:first-child {
    background-color: constants.$primary-color;
    color: constants.$wildcard-color;

    &:hover {
      background-color: constants.$secondary-color;
    }
  }

  button:nth-child(2) {
    background-color: constants.$wildcard-color;
    color: constants.$font-primary-color;
    border: 0.2rem solid constants.$font-primary-color;

    &:hover {
      color: constants.$primary-color;
      border: 0.2rem solid constants.$primary-color;
    }
  }
}

// tablet styles
@media (min-width: 768px) and (max-width: 1023px) {
  #mobile-img {
    width: 75%;
  }

  #content-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph {
    width: 75%;
  }

  .product-btn {
    flex-direction: row;
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1440px) {
  .product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem 0 1rem;

    div {
      align-content: center;
    }

    .titles p {
      font-size: 4.5rem;
      line-height: 7.3rem;
      letter-spacing: 0;
      text-align: left;
      margin: 0;
    }

    .titles p:nth-child(3) {
      color: constants.$primary-color;
    }

    .paragraph {
      text-align: left;
      width: 50rem;
    }

    .product-btn {
      flex-direction: row;
      align-items: start;
      margin: 3rem 0;

      button {
        width: auto;
        padding: 2rem;
      }
    }

    #desktop-img {
      margin: 0;
      width: 50%;
      height: 48.9rem;
      object-fit: cover;
    }
  }
}

// Desktop L
@media (min-width: 1440px) {
  .product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem 0 1rem;

    div {
      align-content: center;
    }

    .titles p {
      font-size: 5.3rem;
      line-height: 7.3rem;
      letter-spacing: 0;
      text-align: left;
      margin: 0;
    }

    .titles p:nth-child(3) {
      color: constants.$primary-color;
    }

    .paragraph {
      text-align: left;
      width: 59rem;
    }

    .product-btn {
      flex-direction: row;
      align-items: start;
      margin: 3rem 0;

      button {
        width: auto;
        padding: 2.4rem 2.7rem;
        height: auto;
      }
    }

    #desktop-img {
      margin: 0;
    }

    #desktop-img {
      order: 2;
      width: 60rem;
      height: 48.9rem;
      object-fit: cover;
    }
  }
}
